@font-face {
  font-family: 'Georgia Regular';
  font-display: auto;
  font-style:  normal;
  font-weight: 400;
  src: local('Georgia Regular'), url('../webfonts/Georgia-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Georgia';
  font-display: auto;
  font-style:  normal;
  font-weight: 400;
  src: local('Georgia'), url('../webfonts/Georgia.woff') format('woff');
}

@font-face {
  font-family: 'Georgia Bold';
  font-display: auto;
  font-style:  normal;
  font-weight: 400;
  src: local('Georgia Bold'), url('../webfonts/Georgia-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Georgia Italic';
  font-display: auto;
  font-style:  normal;
  font-weight: 400;
  src: local('Georgia Italic'), url('../webfonts/Georgia-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Georgia Bold Italic';
  font-display: auto;
  font-style:  normal;
  font-weight: 400;
  src: local('Georgia Bold Italic'), url('../webfonts/Georgia-Bold-Italic.woff') format('woff');
}

body {
  font-family: 'Geogria Regular';
}

footer {
  font-family: 'Georgia Regular';
}

b, strong {
  font-family: "Georgia Bold";
}

.post-header .meta .date .day {
  font-family: "Georgia Regular", serif;
}

.post-header .meta .date .rest {
  display: block;
  font-size: 0.80em;
  font-family: "Georgia Italic", serif;
}

.post-header h1.title {
  margin: -10px 0 0 0;
  font-family: "Georgia Italic", serif;
  font-weight: bold;
}

.post .title.small {
  margin: 0 0 10px 0;
  font-family: "Georgia Italic", serif;
}

.page-title {
  font-family: "Georgia Italic", serif;
}